services:
   mongod:
      image: mongodb/mongodb-community-server:latest
      container_name: mongod-community
      command: >-
         mongod
         --config /etc/mongod.conf
         --replSetMember=mongod:27017
      ports:
         - 27017:27017
      extra_hosts:
         - "host.docker.internal:host-gateway"
      volumes:
         - mongod_data:/data/db
         - ./mongod.conf:/etc/mongod.conf:ro
         - ./init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
      networks:
         - search-community

   mongot:
      image: mongodb/mongodb-community-search:latest
      entrypoint:
         - /mongot-community/mongot
         - --config=/mongot-community/config.default.yml
         - --internalListAllIndexesForTesting=true
      container_name: mongot-community
      networks:
         - search-community
      volumes:
         - mongot_data:/data/mongot
         - ./mongot.conf:/mongot-community/config.default.yml
         - ./pwfile:/mongot-community/pwfile:ro
      depends_on:
         - mongod
      ports:
         - 27028:27028
         - 9946:9946

volumes:
   mongod_data:
   mongot_data:

networks:
   search-community:
      name: search-community
